.classpath
.project
.settings/
/results/
/bin/
*.class
bin/
target/*
.vscode

# Mac stuff
desktop.ini
.DS_Store
*/DS_Store
.idea/*
.idea/misc.xml
.idea/modules.xml
libs/opencsv-5.7.0.jar


#poetry
python/poetry.lock

#Outputs
RunTime*
AdaptationOutput_*